# =====================
# OS / Editor
# =====================
.DS_Store
Thumbs.db
.vscode/
.idea/

# =====================
# Logs
# =====================
*.log
npm-debug.log*
yarn-debug.log*
pnpm-debug.log*

# =====================
# Environment files
# =====================
.env
.env.*
!.env.example

# =====================
# Dependencies (GLOBAL)
# =====================
node_modules/

# =====================
# Build outputs
# =====================
dist/
build/
coverage/

# =====================
# Cache
# =====================
.cache/
.tmp/
